body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-image: url('https://i.pinimg.com/736x/12/6e/1a/126e1a50e2a6fa0cc7f489cbefaa54a7.jpg');
}




#recipe-form {
    margin-bottom: 20px;
}

#recipe-form h2 {
    font-family: 'Georgia'; 
    color: #8d384d; 
    font-size: 28px; /* Optional: Adjust size */
    
}

input, textarea, button {
    width: 90%;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

button {
    background-color: #E2AEA1;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #D09682;
}


.book-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    width: 700px; /* Slightly bigger than before */
    height: 600px; /* Increased height for the container */
    padding: 10px; /* Adds a little extra space around the book */
}

#recipeBook {
    width: 900px;
    height: 650px; /* Increased height for the book itself */
    border: 5px solid #8d8154;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.1);
    background-color: #9d9167;
    margin: 0 auto;
}


.page {
    background: #E8D1A7;  /* Light pink background for pages */
    padding: 20px;
    text-align: center;
}

.page img {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    margin: 10px 0;
}

.page h2 {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #90553C;  /* Dark pink for the title */
}

.page p {
    font-family: 'Arial', sans-serif;
    color: #6c3416;  /* Dark indigo color for the text */
}

.cover-page {
    background-image: url('https://i.pinimg.com/736x/e0/e9/78/e0e978256054db86ff9690df51d6cd8d.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: relative; /* Allows absolute positioning inside */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cover-text {
    position: absolute;
    bottom: 50px;
    left: 20px;
    transform: translateX(40px); /* Slight nudge to the right */
    width: 80%;
    color: white;
    text-align: center;
}

.cover-page h2 {
    font-family: 'Georgia', sans-serif;
    color: #E8D1A7;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

.cover-page p {
    font-size: 20px;
    margin-bottom: 10px;
}
